<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TreeLink</title>
    <th:block th:replace="~{/common/fragment :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/css/.css}">
</head>

<body>
    <script>
        lucide.createIcons();
    </script>
    <script th:src="@{/js/.js}"></script>
</body>

</html>