<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC
  "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">	
<configuration>

    <settings>
    	<!-- 오라클 NULL 설정 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		
    	<!-- 카멜 케이스 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <typeAliases>
    	<!-- Member -->
        <typeAlias type="com.tl.member.MemberVO$Login" alias="MemberLogin"/>
        <typeAlias type="com.tl.member.MemberVO$Detail" alias="MemberDetail"/>
        <typeAlias type="com.tl.member.MemberVO$Join" alias="MemberJoin"/>
        
        <!-- Company -->
        <typeAlias type="com.tl.company.CompanyVO$Registor" alias="CompanyRegistor"/>
        <typeAlias type="com.tl.company.CompanyVO$Detail" alias="CompanyDetail"/>
        
        <!-- FileInfo -->
        <typeAlias type="com.tl.global.file.FileInfoVO$Registor" alias="FileInfoRegistor"/>
        <typeAlias type="com.tl.global.file.FileInfoVO$Detail" alias="FileInfoDetail"/>
        <typeAlias type="com.tl.global.file.FileInfoVO$GetFile" alias="FileInfoGetFile"/>
        <typeAlias type="com.tl.global.file.FileInfoVO$UpdateStatus" alias="FileInfoUpdateStatus"/>
        <typeAlias type="com.tl.global.file.FileInfoVO$InsertHistory" alias="FileInfoInsertHistory"/>

        <!-- 전역 설정 -->
        <package name="com.tl"/>
    </typeAliases>
</configuration>