<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.global.file.CompanyDocMapper">
  <select id="selectInfo" parameterType="_int" resultType="FileInfoDetail">
    select
      F.FILE_NO
      ,F.ORIGINAL_NAME
      ,F.FILE_SIZE
      ,F.EXPIRE_ON
      ,CD.DOC_TYPE
    from FILE_INFO F
    right join COMPANY_DOC CD on(CD.FILE_NO = F.FILE_NO)
    where CD.COMPANY_NO = #{companyNo}
    order by F.FILE_NO desc
  </select>

  <insert id="insertInfo" parameterType="FileInfoRegistor">
    <selectKey keyProperty="fileNo" resultType="_int" order="BEFORE">
			SELECT SEQ_FILE.nextval FROM DUAL
		</selectKey>
    insert all
      into FILE_INFO(FILE_NO, ORIGINAL_NAME, CHANGED_NAME, MIME,
        FILE_SIZE, SAVE_PATH, SAVED_AT, EXPIRE_ON)
      values(
        #{fileNo}
        ,#{originalName}
        ,#{changedName}
        ,#{mime}
        ,#{fileSize}
        ,#{savePath}
        ,#{savedAt}
        ,#{expireOn}
      )

      into COMPANY_DOC(COMPANY_NO, FILE_NO, DOC_TYPE)
      values(
        #{companyNo}
        ,#{fileNo}
        ,#{docType}
      )
    select * from dual
  </insert>

  <select id="selectGetFile" resultType="FileInfoGetFile">
    select
      F.ORIGINAL_NAME
      ,F.MIME
      ,F.SAVE_PATH
    from FILE_INFO F
    left join DOC_TYPE CD on (CD.FILE_NO = F.FILE_NO)
    left join COMPANY C on (C.COMPANY_NO = CD.COMPANY_NO)
    where F.FILE_NO = #{docNo}
    amd C.COMPANY_NO = #{companyNo}
  </select>

  <delete id="deleteDoc" parameterType="_int">
    delete from FILE_INFO
    where FILE_NO = #{fileNo}
  </delete>

  <select id="selectInfoForHistory" parameterType="_int" resultType="FileInfoHistory">
    select
      FILE_NO
      ,ORIGINAL_NAME
      ,SAVE_PATH
    from FILE_INFO
    where FILE_NO = #{fileNo}
  </select>


</mapper>
