<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.company.CompanyMapper">
  <resultMap id="CompanyDetailMap" type="CompanyDetail" autoMapping="true">
    <id property="companyNo" column="COMPANY_NO"/>
    <result property="businessNo" column="BUSINESS_NO"/>
    <result property="companyName" column="COMPANY_NAME"/>
    <result property="representativeName" column="REPRESENTATIVE_NAME"/>
    <result property="phone" column="PHONE"/>
    <result property="email" column="EMAIL"/>
    <result property="createdOn" column="CREATED_ON"/>
    <result property="status" column="STATUS"/>
    <result property="etcMemo" column="MEMO"/>

    <collection property="option" ofType="string">
      <result column="FIELD"/>
    </collection>
  </resultMap>

  <resultMap id="CompanyLocationDetailMap"
    type="CompanyLocationDetail"
    autoMapping="true"
    extends="com.tl.global.location.LocationMapper.LocationDetailMap">

    <id property="companyNo" column="COMPANY_NO"/>
    <result property="name" column="NAME"/>
  </resultMap>


  <select id="selectList" parameterType="companySearch" resultMap="CompanyDetailMap">
    select
      C.COMPANY_NO
      ,C.BUSINESS_NO
      ,C.COMPANY_NAME
      ,C.REPRESENTATIVE_NAME
      ,C.PHONE
      ,C.EMAIL
      ,C.CREATED_ON
      ,C.STATUS
      ,CS_MEMO.MEMO
      ,S.FIELD
    from(
      select *
      from(
        select ROWNUM RN, A.*
        from(
          select
            COM.COMPANY_NO
            ,COM.BUSINESS_NO
            ,COM.COMPANY_NAME
            ,COM.REPRESENTATIVE_NAME
            ,COM.PHONE
            ,COM.EMAIL
            ,COM.CREATED_ON
            ,COM.STATUS
          from COMPANY COM
          <where>
            <if test="businessNo!=null and businessNo!=''">
              and COM.BUSINESS_NO like '%' || #{businessNo} || '%' escape '/'
            </if>
            <if test="companyName!=null and companyName!=''">
              and COM.COMPANY_NAME like '%' || #{companyName} || '%' escape '/'
            </if>
            <if test="representativeName!=null and representativeName!=''">
              and COM.REPRESENTATIVE_NAME like '%' || #{representativeName} || '%' escape '/'
            </if>
            <if test="status!=null">
              and COM.STATUS = #{status}
            </if>
            <if test="option!=null and option!=''">
              and exists (
                select 1
                from COMPANY_SPECIALTY CS2
                inner join SPECIALTY S2 on S2.SPECIALTY_NO = CS2.SPECIALTY_NO
                where CS2.COMPANY_NO = COM.COMPANY_NO
                and S2.FIELD = #{option}
                <if test = "option == '기타' and etcMemo!=null and etcMemo!=''">
                  and CS2.MEMO like '%' || #{etcMemo} || '%' escape '/'
                </if>
              )
            </if>
          </where>
          order by COM.COMPANY_NO desc
        ) A
        where ROWNUM &lt;= #{endRow}
      ) B
      where B.RN &gt;= #{startRow}
    ) C
    left join COMPANY_SPECIALTY CS on(CS.COMPANY_NO = C.COMPANY_NO)
    left join SPECIALTY S on(S.SPECIALTY_NO = CS.SPECIALTY_NO)
    left join COMPANY_SPECIALTY CS_MEMO on (CS_MEMO.COMPANY_NO = C.COMPANY_NO
      and CS_MEMO.SPECIALTY_NO = (
        select SPECIALTY_NO from SPECIALTY where FIELD = '기타'
      ))
  </select>


  <select id="selectListTotalCount" parameterType="companySearch" resultType="_int">
    select count(*)
    from COMPANY COM
    <where>
      <if test="businessNo!=null and businessNo!=''">
        and COM.BUSINESS_NO like '%' || #{businessNo} || '%' escape '/'
      </if>
      <if test="companyName!=null and companyName!=''">
        and COM.COMPANY_NAME like '%' || #{companyName} || '%' escape '/'
      </if>
      <if test="representativeName!=null and representativeName!=''">
        and COM.REPRESENTATIVE_NAME like '%' || #{representativeName} || '%' escape '/'
      </if>
      <if test="status!=null">
        and COM.STATUS = #{status}
      </if>
      <if test="option!=null and option!=''">
        and exists (
          select 1
          from COMPANY_SPECIALTY CS2
          inner join SPECIALTY S2 on S2.SPECIALTY_NO = CS2.SPECIALTY_NO
          where CS2.COMPANY_NO = COM.COMPANY_NO
          and S2.FIELD = #{option}
          <if test = "option == '기타' and etcMemo!=null and etcMemo!=''">
            and CS2.MEMO like '%' || #{etcMemo} || '%' escape '/'
          </if>
        )
      </if>
    </where>
  </select>

  <insert id="insertCompany" parameterType="CompanyRegistor"
    useGeneratedKeys="true"
    keyProperty="companyNo"
    keyColumn="COMPANY_NO">

    insert into COMPANY (
      BUSINESS_NO
      ,COMPANY_NAME
      ,REPRESENTATIVE_NAME
      ,PHONE
      ,EMAIL
      ,CREATED_ON
    ) VALUES(
      #{businessNo}
      ,#{companyName}
      ,#{representativeName}
      ,#{phone}
      ,#{email}
      ,#{createdOn}
    )
  </insert>

  <insert id="insertCompanySpecialty">
    INSERT ALL
    <foreach collection="option" item="specialtyNo">
      INTO COMPANY_SPECIALTY (COMPANY_NO, SPECIALTY_NO, MEMO)
      VALUES (
        #{companyNo},
        #{specialtyNo},
		<choose>
		  <when test="specialtyNo == 99">#{etcMemo}</when>
		  <otherwise>NULL</otherwise>
		</choose>
      )
    </foreach>
    SELECT * FROM DUAL
  </insert>

  <select id="selectCompanyDetail" parameterType="_int" resultMap="CompanyDetailMap">
    select
      C.COMPANY_NO
      ,C.BUSINESS_NO
      ,C.COMPANY_NAME
      ,C.REPRESENTATIVE_NAME
      ,C.PHONE
      ,C.EMAIL
      ,C.CREATED_ON
      ,C.STATUS
      ,CS_MEMO.MEMO
      ,S.FIELD
    from COMPANY C
    left join COMPANY_SPECIALTY CS on(CS.COMPANY_NO = C.COMPANY_NO)
    left join SPECIALTY S on(S.SPECIALTY_NO = CS.SPECIALTY_NO)
    left join COMPANY_SPECIALTY CS_MEMO on (CS_MEMO.COMPANY_NO = C.COMPANY_NO
      and CS_MEMO.SPECIALTY_NO = (
        select SPECIALTY_NO from SPECIALTY where FIELD = '기타'
      ))
    where C.COMPANY_NO = #{companyNo}
  </select>

  <update id="updateCompany" parameterType="CompanyRegistor">
    update COMPANY
    set
      BUSINESS_NO = #{businessNo}
      ,COMPANY_NAME = #{companyName}
      ,REPRESENTATIVE_NAME = #{representativeName}
      ,PHONE = #{phone}
      ,EMAIL = #{email}
      ,CREATED_ON = #{createdOn}
      ,STATUS = #{status}
    where COMPANY_NO = #{companyNo}
  </update>

  <delete id="deleteCompanySpecialty" parameterType="_int">
    delete from COMPANY_SPECIALTY
    where COMPANY_NO = #{companyNo}
  </delete>

  <select id="selectIntro" resultType="string">
    select INTRO
    from COMPANY
    where COMPANY_NO = #{companyNo}
    <if test="status!=null">
      and STATUS = #{status}
    </if>
  </select>

  <update id="updateIntro">
    update COMPANY
    set INTRO = #{intro}
    where COMPANY_NO = #{companyNo}
  </update>

  <select id="selectCompanyLocations" resultMap="CompanyLocationDetailMap">
    select
      L.LOCATION_NO
      ,L.LATITUDE
      ,L.LONGITUDE
      ,L.ADDRESS
      ,L.SIDO
      ,L.SIGUNGU
      ,CL.NAME
    from COMPANY_LOCATION CL
    left join LOCATION L on (CL.LOCATION_NO = L.LOCATION_NO)
    where CL.COMPANY_NO = #{companyNo}
    order by L.LOCATION_NO desc
  </select>

  <insert id="insertLocation" parameterType="CompanyInsertLocation">
    insert into COMPANY_LOCATION(
      COMPANY_NO, LOCATION_NO, NAME
    )values(
      #{companyNo}, #{locationNo}, #{name}
    )
  </insert>

  <delete id="deleteLocation">
    delete from COMPANY_LOCATION
    where LOCATION_NO = #{locationNo}
    and COMPANY_NO = #{companyNo}
  </delete>

  <select id="selectManagement" parameterType="ManagementSearch" resultType="ManagementDetail">
    select *
    from(
      select A.*, rownum RN
      from(
        select
          MS.NAME
          ,MS.MEMO
          ,MS.START_ON
          ,MS.END_ON
          ,MS.VISIBLE
          ,MS.STATUS
          ,L.LOCATION_NO
          ,L.LATITUDE
          ,L.LONGITUDE
          ,L.ADDRESS
          ,L.SIDO
          ,L.SIGUNGU
        from MANAGEMENT_STATUS MS
        left join LOCATION L on (L.LOCATION_NO = MS.LOCATION_NO)
        where MS.COMPANY_NO = #{companyNo}
        <if test="visible == false">
          and MS.VISIBLE = 'ALL'
        </if>
        order by MS.START_ON desc
      ) A
      where rownum &lt;= #{endRow}
    ) B
    where RN &gt;= #{startRow}
  </select>

  <select id="selectManagementTotalCount" parameterType="ManagementSearch" resultType="ManagementSearchCount">
    select
      count(*) as totalCount
      <choose>
        <when test="visible == false">
          ,nvl(sum(case when VISIBLE = 'SEMI' then 1 else 0 end), 0) as semiCount
        </when>
        <otherwise>
          ,-1 as semiCount
        </otherwise>
      </choose>
    from MANAGEMENT_STATUS
    where COMPANY_NO = #{companyNo}
    <if test="visible == false">
      and VISIBLE in ('ALL', 'SEMI')
    </if>
  </select>

  <insert id="insertManagement" parameterType="ManagementInsert">
    insert into MANAGEMENT_STATUS(
      COMPANY_NO
      ,LOCATION_NO
      ,NAME
      ,MEMO
      ,START_ON
      ,END_ON
      ,VISIBLE
      ,STATUS
    )
    values(
      #{companyNo}
      ,#{location.locationNo}
      ,#{name}
      ,#{memo}
      ,#{startOn}
      ,#{endOn}
      ,#{visible}
      ,#{status}
    )
  </insert>

  <delete id="deleteLocationByCompanyNo">
    delete from LOCATION
    where LOCATION_NO = (
      select LOCATION_NO
      from MANAGEMENT_STATUS
      where COMPANY_NO = #{companyNo}
      and LOCATION_NO = #{locationNo}
    )
  </delete>

  <update id="updateManagement" parameterType="ManagementInsert">
    update MANAGEMENT_STATUS
    set
      LOCATION_NO = #{location.locationNo}
      ,NAME = #{name}
      ,MEMO = #{memo}
      ,START_ON = #{startOn}
      ,END_ON = #{endOn}
      ,VISIBLE = #{visible}
      ,STATUS = #{status}
    where COMPANY_NO = #{companyNo}
  </update>
</mapper>
