<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.global.file.FileMapper">

  <insert id="insertHistory" parameterType="FileInfoHistory"
    useGeneratedKeys="true"
    keyProperty="historyNo"
    keyColumn="HISTORY_NO">
    insert into FILE_HISTORY(
      FILE_NO
      ,ORIGINAL_NAME
      ,SAVE_PATH
      ,ACTION
      <if test="actionAt!=null">
        ,ACTION_AT
      </if>
      ,ACTION_BY
    )values(
      #{fileNo}
      ,#{originalName}
      ,#{savePath}
      ,#{action}
      <if test="actionAt!=null">
        ,#{actionAt}
      </if>
      ,#{actionBy}
    )
  </insert>

  <select id="selectLogoSavePath" resultType="FileInfoSavePath">
    select FI.MIME, FI.SAVE_PATH
    from FILE_INFO FI
    inner join COMPANY_DOC CD on (FI.FILE_NO = CD.FILE_NO)
    <if test="isAdmin==false">
      inner join COMPANY C on(C.COMPANY_NO = CD.COMPANY_NO)
    </if>
    where CD.COMPANY_NO = #{companyNo}
    and CD.DOC_TYPE = 'LOGO'
    <if test="isAdmin==false">
      and C.STATUS = 'ACTIVE'
    </if>
  </select>

</mapper>
