<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.global.file.FileMapper">

  <insert id="insertHistory" parameterType="FileInfoHistory">
    insert into FILE_HISTORY(
      FILE_NO
      ,ORIGINAL_NAME
      ,CHANGED_NAME
      ,SAVE_PATH
      ,ACTION
      <if test="actionAt!=null">
        ,ACTION_AT
      </if>
      ,ACTION_BY
    )values(
      #{fileNo, jdbcType=NUMERIC}
      ,#{originalName}
      ,#{changedName}
      ,#{savePath}
      ,#{action}
      <if test="actionAt!=null">
        ,#{actionAt}
      </if>
      ,#{actionBy}
    )
  </insert>

</mapper>
