<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tl.member.MemberMapper">
	<resultMap id="MemberDetailMap" type="MemberDetail">
	    <id property="memberNo" column="MEMBER_NO"/>
	    <result property="userId" column="ID"/>
	    <result property="userPwd" column="PWD"/>
	    <result property="name" column="NAME"/>
	    <result property="nickname" column="NICKNAME"/>
	    <result property="phone" column="PHONE"/>
	    <result property="status" column="STATUS"/>
			<collection property="role" ofType="string">
				<result column="ROLE"/>
    	</collection>
	</resultMap>
	
	<select id="selectMemberById" parameterType="MemberLogin" resultMap="MemberDetailMap" >
		select
			M.MEMBER_NO
			,M.ID
			,M.PWD
			,M.NAME
			,M.NICKNAME
			,RI.NAME as ROLE
		from MEMBER M
		left join MEMBER_ROLE MR on(MR.MEMBER_NO = M.MEMBER_NO)
		left join ROLE_INFO RI on(RI.ROLE_NO = MR.ROLE_NO)
		where M.ID = #{userId}
		and M.STATUS = 'ACTIVE'
	</select>
	
	<select id="selectCheckId" parameterType="string" resultType="_int" >
		select count(*)
		from MEMBER
		where ID = #{userId}
	</select>
	
	<select id="selectCheckNickname" parameterType="string" resultType="_int" >
		select count(*)
		from MEMBER
		where NICKNAME = #{nickname}
	</select>
	
	<insert id="insertJoin" parameterType="MemberJoin"
		useGeneratedKeys="true"
    keyProperty="memberNo"
    keyColumn="MEMBER_NO">

		insert into MEMBER (
			ID
			,PWD
			,NAME
			,NICKNAME
		)
		values(
			#{userId}
			,#{userPwd}
			,#{name}
			,#{nickname}
		)
	</insert>
	

	<select id="selectMemberList" parameterType="MemberSearch" resultMap="MemberDetailMap">
		select
			C.MEMBER_NO
			,C.ID
			,C.NAME
			,C.NICKNAME
			,C.PHONE
			,C.STATUS
			,RI.NAME as ROLE
		from(
			select *
			from(
				select ROWNUM RN, A.*
				from(
					select
						MEMBER_NO
						,ID
						,NAME
						,NICKNAME
						,PHONE
						,STATUS
					from MEMBER
					<where>
						<if test="userId!=null and userId!='' ">
							and ID like  '%' || #{userId} || '%' escape '/'
						</if>
						<if test="name!=null and name!='' ">
							and NAME like '%' || #{name} || '%' escape '/'
						</if>
						<if test="nickname!=null and nickname!='' ">
							and NICKNAME like '%' || #{nickname} || '%' escape '/'
						</if>
						<if test="phone!=null and phone!='' ">
							and PHONE like '%' || #{phone} || '%' escape '/'
						</if>
						<if test="status!=null and status.name()!='' ">
							and STATUS = #{status}
						</if>
						<if test="role!=null and role.name()!='' ">
							and exists(
								select 1
								form ROLE_INFO RI2
								inner join MEMBER_ROLE MR2 on (RI2.ROLE_NO = MR2.ROLE_NO)
								where MR2.MEMBER_NO = MEMBER.MEMBER_NO
								and RI2.NAME = #{role}
							)
						</if>
					</where>
					order by MEMBER_NO desc
				) A
				where ROWNUM &lt;= #{endRow}
			) B
			where RN &gt;= #{startRow}
		) C
		left join MEMBER_ROLE MR on (MR.MEMBER_NO = C.MEMBER_NO)
		left join ROLE_INFO RI on (RI.ROLE_NO = MR.ROLE_NO)
	</select>


	<select id="selectMemberListTotalCount" parameterType="MemberSearch" resultType="_int">
		select count(*)
		from MEMBER M
		<where>
			<if test="userId!=null and userId!='' ">
				and M.ID like '%' || #{userId} || '%' escape '/'
			</if>
			<if test="name!=null and name!='' ">
				and M.NAME like '%' || #{name} || '%' escape '/'
			</if>
			<if test="nickname!=null and nickname!='' ">
				and M.NICKNAME like '%' || #{nickname} || '%' escape '/'
			</if>
			<if test="phone!=null and phone!='' ">
				and M.PHONE like '%' || #{phone} || '%' escape '/'
			</if>
			<if test="status!=null and status.name()!='' ">
				and M.STATUS = #{status}
			</if>
			<if test="role!=null and role.name()!='' ">
				and exists(
					select 1
					form ROLE_INFO RI2
					inner join MEMBER_ROLE MR2 on (RI2.ROLE_NO = MR2.ROLE_NO)
					where MR2.MEMBER_NO = MEMBER.MEMBER_NO
					and RI2.NAME = #{role}
				)
			</if>
		</where>
	</select>
	
	
	<select id="selectMember" parameterType="_int" resultMap="MemberDetailMap">
		select
			M.MEMBER_NO
			,M.ID
			,M.PWD
			,M.NAME
			,M.NICKNAME
			,M.PHONE
			,M.STATUS
			,RI.NAME as ROLE
		from MEMBER M
		left join MEMBER_ROLE MR on (MR.MEMBER_NO = M.MEMBER_NO)
		left join ROLE_INFO RI on (RI.ROLE_NO = MR.ROLE_NO)
		where M.MEMBER_NO = #{memberNo}
	</select>

	<update id="updateMember" parameterType="MemberUpdate">
		update MEMBER
		set
			NAME = #{name}
			,NICKNAME = #{nickname}
			,PHONE = #{phone}
			<if test="userPwd!=null and userPwd!=''">
				,PWD = #{userPwd}
			</if>
		where MEMBER_NO = #{memberNo}
	</update>

	<delete id="deleteRole" parameterType="_int">
		delete from MEMBER_ROLE MR
		where MR.MEMBER_NO = #{memberNo}
		and not exists(
			select 1
			from MEMBER_ROLE MR2
			join ROLE_INFO RI2 on(RI2.ROLE_NO = MR2.ROLE_NO)
			where RI2.NAME = 'ROLE_SUPER_ADMIN'
			and MR2.MEMBER_NO = #{memberNo}
		)
	</delete>

	<insert id="insertRole">
		insert into MEMBER_ROLE(MEMBER_NO, ROLE_NO)
		select #{memberNo}, ROLE_NO
		from ROLE_INFO
		where NAME = 'ROLE_' || #{role}
	</insert>


	<update id="updateStatus">
		update MEMBER
		set STATUS = #{status}
		where MEMBER_NO = #{memberNo}
		and not exists (
			select 1
			from MEMBER_ROLE MR
			join ROLE_INFO RI on RI.ROLE_NO = MR.ROLE_NO
			where RI.NAME = 'ROLE_SUPER_ADMIN'
			and MR.MEMBER_NO = #{memberNo}
		) --최고 관리자 상태 수정 불가
	</update>

	<select id="selectUpdatedNickname" resultType="_int">
		select count(*)
		from MEMBER
		where NICKNAME = #{nickname}
		and MEMBER_NO != #{memberNo}
	</select>
</mapper>
