<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RoleMapper">

	<insert id="selectUrlIsAllowed" parameterType="Roles$UserNoUrl" >
		select IS_ALLOWED
		from MEMBERS M
		left join MEMBERS_ROLES MR
		left join ROLES R
		left join ROLE_RESOURCES RR
		left join URL_RESOURCES UR
		where M.MEMBERS_NO = #{userNO}
		and #{url} LIKE UR.URL_PATTERN || '%'
	</insert>
	
</mapper>
