<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오류!</title>
    <th:block th:replace="~{common/fragment :: common}"></th:block>
    <link rel="stylesheet" th:href="@{/css/common/error.css}">
</head>

<body>
    <div class="error-wrapper">
        <div class="error-card">
            <div class="error-icon-wrap">
                <i data-lucide="bug" class="error-icon"></i>
            </div>

            <div class="error-code">
                400
            </div>
            <div class="error-title">
                잘못된 요청입니다
            </div>
            <p class="error-desc">
                서버에 일시적인 문제가 발생했습니다. 잠시 후 다시 시도해주세요.
            </p>

            <div class="error-btn-group">
                <button type="button" id="btnBack" class="btn-error">
                    <i data-lucide="arrow-left" class="error-icon-sm"></i>
                    이전 페이지로
                </button>
                <a th:href="@{/}" class="btn-error btn-error--primary">
                    <i data-lucide="home" class="error-icon-sm"></i>
                    홈페이지로 이동
                </a>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        window.serverStatus = /*[[${status}]]*/ 0;
        window.serverError = /*[[${error}]]*/ '';
        window.serverMessage = /*[[${message}]]*/ '';
        window.serverPath = /*[[${path}]]*/ '';
        /*]]>*/
    </script>

    <script th:src="@{/js/common/error.js}"></script>
    <script>lucide.createIcons();</script>
</body>

</html>